* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: #E4E9F7;
}

// h1 {
//     width: 100vw;
//     height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }